<!--?xml version="1.0" encoding="UTF-8"?-->  
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <context-param>
    <param-name>iiif-base-url</param-name>
    <param-value>https://iiif.lib.virginia.edu/iiif/</param-value>
  </context-param>
  <context-param>
    <param-name>solr-url</param-name>
    <param-value>http://solr.lib.virginia.edu:8082/solr/core</param-value>
  </context-param>
  <servlet>
    <servlet-name>iiif-rights-wrapper</servlet-name>
    <servlet-class>edu.virginia.lib.fedora.disseminators.convert.ConvertServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>iiif-rights-wrapper</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
